@model MTOWebApp.Models.ModulesViewModels.QuestionViewModel

@{
    ViewData["Title"] = "Вопрос";
}

<h2>Вопрос по теме @ViewData["TheoryName"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <h4>@Model.Task</h4>
        </dd>
        <dd>
            @if (Model.Type == "Input")
            {
                <p>Ответ: @Model.Answers1[0]</p>
            }
            else if (Model.Type == "Choose")
            {
                <p>Правильные варианты:</p>
                foreach (string a in Model.Answers1)
                {
                    <p>@a</p>
                }
                <p>Неправильные варианты:</p>
                foreach (string a in Model.Answers2)
                {
                    <p>@a</p>
                }
            }
            else if (Model.Type == "Mapping")
            {
                for (int i = 0; i < Model.Answers1.Count; i++)
                {
                    <div class="row">
                        <p>
                            <div class="col-md-1">@Model.Answers1[i]</div>
                            <div class="col-md-1">@Model.Answers2[i]</div>
                        </p>
                    </div>
                }
            }
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("teacher"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
        <br />
        <a asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
        <br />
    }
    <a asp-action="Details" asp-controller="TestModules" asp-route-id="@Model.TestModuleId">Назад к тестированию</a>
    <br />
    <a asp-action="Index" asp-route-id="@Model.TestModuleId">Назад к списку</a>
</div>
