@model MTOWebApp.Models.ModulesViewModels.QuestionViewModel

@{
    ViewData["Title"] = "Редактировать";
}

<h2>Редактировать вопрос</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Выберите тип вопроса:</h4>
        <form asp-action="Edit" method="get">
            <input type="hidden" name="TestModuleId" value="@Model.TestModuleId" />
            <input type="hidden" name="serialNum" value="@Model.SerialNum" />
            <select name="type" class="form-control">
                <option value="Input">Ввод ответа</option>
                <option value="Choose">Выбор ответа(ов)</option>
                <option value="Mapping">Сопоставление</option>
            </select>
            <input type="submit" value="Выбрать" class="btn btn-default" />
        </form>
        @if (Model.Type == "Input")
        {
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="Type" value="Input" />
                <input type="hidden" name="TestModuleId" value="@Model.TestModuleId" />
                <input type="hidden" name="SerialNum" value="@Model.SerialNum" />
                <div class="form-group">
                    <label asp-for="Task" class="control-label">Задание</label>
                    <input asp-for="Task" class="form-control" value="@Model.Task" />
                    <span asp-validation-for="Task" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Answers1" class="control-label">Правильный ответ</label>
                    @if (ViewData["Type"].ToString() == "Input")
                    {
                        <input name="Answers1" class="form-control" value="@ViewData["Answer"]" />
                    }
                    else
                    {
                        <input name="Answers1" class="form-control" />
                    }
                    <span asp-validation-for="Answers1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </form>
         }
         else if (Model.Type == "Choose")
         {
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="Type" value="Choose" />
                <input type="hidden" name="TestModuleId" value="@Model.TestModuleId" />
                <input type="hidden" name="SerialNum" value="@Model.SerialNum" />
                <div class="form-group">
                    <label asp-for="Task" class="control-label">Задание</label>
                    <input asp-for="Task" class="form-control" value="@Model.Task" />
                    <span asp-validation-for="Task" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Answers1" class="control-label">Введите четыре ответа и выберите правильные</label>
                    @{
                        int i = 0;
                        foreach (var a in Model.Answers1)
                        {
                            <div class="form-inline"><input asp-for="Answers1" class="form-control" value="@a"/> <input class="form-control" name="Answers2" checked = "checked" type="checkbox" value="@i" /></div>
                            <br />
                            i++;
                        }
                        foreach (var a in Model.Answers2)
                        {
                            <div class="form-inline"><input asp-for="Answers1" class="form-control" value="@a"/> <input class="form-control" name="Answers2" type="checkbox" value="@i" /></div>
                            <br />
                            i++;
                        }
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </form>
        }
        else if (Model.Type == "Mapping")
        {
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="Type" value="Mapping" />
                <input type="hidden" name="TestModuleId" value="@Model.TestModuleId" />
                <input type="hidden" name="SerialNum" value="@Model.SerialNum" />
                <div class="form-group">
                    <label asp-for="Task" class="control-label">Задание</label>
                    <input asp-for="Task" class="form-control" value="@Model.Task" />
                    <span asp-validation-for="Task" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Answers1" class="control-label">Введите соответствующие варианты</label>
                    <div class="form-horizontal">
                        <input asp-for="Answers1" class="form-control" value="@Model.Answers1[0]"/>
                        <input asp-for="Answers2" class="form-control" value="@Model.Answers2[0]"/>
                    </div>
                    <hr />
                    <div class="form-horizontal">
                        <input asp-for="Answers1" class="form-control" value="@Model.Answers1[1]"/>
                        <input asp-for="Answers2" class="form-control" value="@Model.Answers2[1]"/>
                    </div>
                    <hr />
                    <div class="form-horizontal">
                        <input asp-for="Answers1" class="form-control" value="@Model.Answers1[2]"/>
                        <input asp-for="Answers2" class="form-control" value="@Model.Answers2[2]"/>
                    </div>
                    <hr />
                    <div class="form-horizontal">
                        <input asp-for="Answers1" class="form-control" value="@Model.Answers1[3]"/>
                        <input asp-for="Answers2" class="form-control" value="@Model.Answers2[3]"/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
            </form>
        }
        <h4>Номер вопроса: @Model.SerialNum</h4>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.TestModuleId">Назад к списку</a>
    <br />
    <a asp-action="Details" asp-controller="TestModules" asp-route-id="@Model.TestModuleId">Перейти к модулю</a>
</div>

