@model WebAppMTO.Data.Paragraph

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paragraph</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FolderName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FolderName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TextFileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TextFileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VideoFileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VideoFileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnimFileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnimFileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoundFileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoundFileName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
